*{
    background-color: #E5E5E5;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}

.logo{
    padding-top: 20px;
    margin-left: 50px;

}

main{
    display: flex;
}

.textboton{
    padding-left: 50px;
}

.input-texto{
    border: none;
    color: #0A3871;
    text-transform: lowercase;
    resize: none;
    padding-top: 100px;
}
::placeholder{color: #0A3871;}
.input-texto:focus{
    outline: none;
}

.traduccion{
    margin-top: 20px;
    margin-left: 50px;
}

.mensaje{
    background: white;
    background-image: url("imagenes/munheco.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    resize: none;
    padding-bottom: 100px;
    position: absolute;
}

.mensaje:focus{
    outline: none;
}

.botones{
    display: flex;
}

.btn-encriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-desencriptar{
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    position: relative;
    margin-top: 490px;
    margin-left: 50px;
    width: 328px; 
}

.botones, .botoncopiar{
    display: flex;
    justify-content: center;
}

.icono-advertencia{
    float: left;
    padding-top: 10px;
    padding-right: 2px;
}

p{
    font-size: 13px;
}


@media screen and (max-width:480px) {
    main {
        display: block;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }

    body{
        width: fit-content;
    }

    .textboton{
        padding: 0;
    }

    .input-texto, .advertencia{
        padding-left: 50px;
    }

    .botones{
        display: block;
        text-align: center;
    }

    .btn-desencriptar, .btn-encriptar{
        margin: 0;
        margin-top: 15px;
    }

    .input-texto{
        padding-top: 20px;
        padding-right: 50px;
    }

    .copiar{
        margin-left: 0;
    }

    .traduccion{
        margin: 0;
    }

    .mensaje{
        margin-left: 60px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
}
  